*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

header {
    margin:20px auto ;
    width: 1320px;
    border-radius: 16px;
    
    
}
.container {
    background-image: url("../resources/BG.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
   position: relative;
   
    
  
}

.main_title {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.container .text1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container .text2{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
}
.discount {
    text-align: center;
    padding:50px 0;
}
.big_title {
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.samll_desc {
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.large_tile {
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.images_big  img {
    margin: 0 auto;
    width: 800px;
    height: 500px;
    display: block;
    
}

.welcome_section {
    margin:100px auto ;
    width: 1320px; 
}

.welcome_box_one {
    background-image: url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    overflow: hidden;
    padding: 126px 300px 126px 126px;
    
}

.welcome_box_two {
    width:650px;
}

.welcome_box_two .big_title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    text-align: left;
}

.welcome_box_two .small_desc {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding-top: 20px;
    padding-bottom:20px;
}

.welcome_box_two a {
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
text-decoration: none;
}